form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-weight: normal;
}

.form-control {
  display: flex;
  margin-bottom: 1.5rem;
}


.form-input {
  flex: 1;
  padding: 0.6rem 0.9rem;
  font-size: 1rem;

  border: 1px solid #cbd5e1;
  border-right: none;

  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}


.form-input::placeholder {
  color: #aaa;
}

.form-control .btn {
  width: 120px;
  background: linear-gradient(135deg, #06b6d4, #0e7490);
  border: none;

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  font-weight: 600;
  transition: all 0.3s ease;
}


.form-control .btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 15px rgba(6, 182, 212, 0.4);
}
