.single-item {
  background:  var(--bg-item);
  padding: 0.9rem 1.2rem;

  border-radius: 0.9rem;
  border: 1px solid var(--border-soft);

  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  column-gap: 1rem;

  transition: all 0.25s ease;
}

.single-item:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  transform: translateY(-2px);
}


.single-item input:checked + p {
  text-decoration: line-through;
  color: var(--text-muted);
}




.single-item p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-main);;
}


.single-item input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.single-item .btn {
  padding: 0.4rem 0.55rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  background: #06b6d4;
  transition: all 0.2s ease;
}


.single-item .btn:hover {
  background: var(--accent-dark);
}



.single-item .remove-btn {
  background: var(--danger);
}

.single-item .remove-btn:hover {
  background: var(--danger-dark);
}

